body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e1e1e, #333);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  text-align: center;
}

#keyDisplay {
  margin-top: 20px;
  font-size: 5rem;
  padding: 40px;
  border: 2px dashed #fff;
  border-radius: 10px;
  min-width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
